.sign-up-button-styles {
  height: 25px ;
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: #bcddb3;
  scroll-behavior: smooth;
}
@media (min-width: 550px) {
}
html,
body {
  font-family: 'Permanent Marker', cursive;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Permanent Marker', cursive;
}
h1 {
  font-size: 4rem;
}
@media (min-width: 550px) {
  h1 {
    font-size: 4.5rem;
  }
}
h2 {
  font-size: 3rem;
}
@media (min-width: 550px) {
  h2 {
    font-size: 3.5rem;
  }
}
h3 {
  font-size: 3rem;
}
@media (min-width: 550px) {
  h3 {
    font-size: 4.5rem;
  }
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
}
@media (min-width: 550px) {
  p {
    font-size: 2.1rem;
  }
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
  padding: 10px;
}
.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 550px) {
  .container {
    max-width: 900px;
  }
}
.header {
  display: flex;
  align-items: center;
}
.header .nav-header {
  color: #f8fff4;
}
@media (min-width: 550px) {
  .header {
    justify-content: space-between;
  }
}
.nav--open {
  display: none;
}
.nav-bar {
  background-color: #fecdaa;
  border-radius: 25px;
  text-align: center;
  padding: 10px 0;
}
.nav-bar .nav-link {
  color: #FEFFFE;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 20px 20px;
}
.footer-content {
  display: flex;
  justify-content: space-around;
  background: #fecdaa;
  color: #f8fff4;
  padding: 10px;
  border-radius: 25px;
}
.footer-content p {
  font-size: 1rem;
}
@media (min-width: 550px) {
  .footer-content p {
    font-size: 1.5rem;
  }
}
#top-header {
  color: #f8fff4;
  text-align: center;
  margin: 10px 0;
}
.cta {
  color: #f8fff4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn {
  color: #f8fff4;
  background: #fecdaa;
  padding: 5px;
  border-radius: 25px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  text-decoration: none;
}
.btn:hover {
  background: #fafac6;
  color: #bcddb3;
}
.line {
  border-bottom: 1px solid #fecdaa;
}
@media (min-width: 550px) {
  .tabs-all {
    display: flex;
  }
}
.tabs-links {
  display: flex;
  justify-content: space-around;
  font-size: 2.5rem;
  background-color: #fafac6;
  color: #fecdaa;
  border-radius: 25px;
  margin: 10px 0;
}
@media (min-width: 550px) {
  .tabs-links {
    font-size: 3rem;
  }
}
.tabs-link-selected {
  color: #bcddb3;
  border-radius: 25px;
}
.tabs-item {
  border-radius: 25px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fecdaa;
  color: #f8fff4;
  line-height: 1.5;
  font-size: 1.6rem;
}
@media (min-width: 550px) {
  .tabs-item {
    margin: 10px;
    font-size: 2.1rem;
  }
}
.tabs-item .tabs-item-title {
  font-size: 2.5rem;
}
.content-box {
  border-radius: 25px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f8fff4;
}
.quote-carousel .quote {
  border: 1px solid fuchsia;
  border-radius: 25px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f8fff4;
}
