* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: @green-tea;
  scroll-behavior: smooth;

  @media @desktop {
    // background: @daffodil;
    
  }

}

html, body {
  font-family: 'Permanent Marker', cursive;
}

h1, h2, h3, h4, h5 {
  font-family: 'Permanent Marker', cursive;
}

h1 {
  font-size: 4rem;

  @media @desktop {
    font-size: 4.5rem;
  }
}

h2 {
  font-size: 3rem;

  @media @desktop {
    font-size: 3.5rem;
  }

}

h3 {
  font-size: 3rem;

  @media @desktop {
    font-size: 4.5rem;
  }

}

p {
  line-height: 1.5;
  font-size: 1.6rem;

  @media @desktop {
    font-size: 2.1rem;
  }
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
  padding: 10px;
  object-fit: cover;
}

.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;

  @media @desktop {
    max-width: 900px;
  }

  // @media @mobile {
  //   width: 90%;
  //   margin: 0 5%;
  // }
}
