  #top-header {
    color: @white-smoke;
    text-align: center;
    margin: 10px 0;
  }
  
  .cta {
    color: @white-smoke;

    .center();
    flex-direction: column;
  }


  .btn {
    // border: 1px solid red;
    color: @white-smoke;
    background: @rosewood;
    padding: 5px;
    border-radius: 25px;
    font-size: 2rem;
    .center();
    margin: 15px;
    text-decoration: none;

  }


  .content-box {
    // border: 1px solid red;
    border-radius: 25px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: @white-smoke;

    h3 {
      // border: 1px solid red;
    }
    
  }

  .quote-carousel {
    // border: 1px solid red;

    .quote {
      border: 1px solid fuchsia;
      border-radius: 25px;
      margin-bottom: 20px;
      padding: 10px;
      background-color: @white-smoke;
    }
  }

  .footer-content {
    // border: 1px solid red;
  }

  #copyright {
    
  }

  #app-name {

  }

  #privacy-policy {

  }

