.header {
  display: flex;
  align-items: center;
  .nav-header {
    color: @ivory;
  }

  @media @desktop {
    justify-content: space-between;
    
  }
}

.nav--open {
  display: none;
}

.nav-bar {
  background-color: @peach;
  border-radius: 25px;
  text-align: center;
  padding: 10px 0;


  .nav-link {
    color: @white;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 20px 20px;


  }

}

.menu-button {
  // width: 25%;
  // height: auto;
  cursor: pointer;
}

