@mobile: ~"(min-width: 500px)";

@desktop: ~"(min-width: 501px)";

// Colors:

@green-tea: #bcddb3;
@ivory: #f8fff4;
@yellow-ivory: #fcffeb;
@daffodil: #fafac6;
@peach: #fecdaa;
@white: #FEFFFE;

// Nav 

@nav-link-font-size-regular: 2.5rem;

// Buttons
@button-color: @button-color-regular;
@button-background: @button-background-regular;
@button-margin: @button-margin-regular;
@button-padding: @button-padding-regular; 
@button-border-radius: @button-border-radius-regular;
@button-font-size: @button-font-size-regular;


// Regular

@button-color-regular: @ivory;
@button-background-regular: @peach;
@button-margin-regular: 15px;
@button-padding-regular: 5px; 
@button-border-radius-regular: 25px;
@button-font-size-regular: 2rem; 


// Hover

@button-color-hover: @green-tea;
@button-background-hover: @daffodil;

// @button-margin-hover:
// @button-padding-hover: 
// @button-border-radius-hover:
// @button-font-size-hover:


// Fonts

@content-font-size-regular: 1.6rem;
@content-line-height-regular: 1.5;
@content-title-font-size-regular: 3rem;
@team-links-font-size-regular: 2rem;
@team-title-font-size-regular: 2rem;
@team-content-font-size-regular: 1.6rem;

// Content

@content-color: @ivory;
@content-background: @peach;



