@mobile: ~"(min-width: 500px)";

// Color assignments 
@font-color: @maastricht-blue;
@button-bg: @lapis-lazuli;
@main-bg:  @rosewood;
@navigation-border: @white-smoke;
@footer-bg: @maastricht-blue;

// Colors
@white: #FEFFFE;
@white-smoke: #EDF7F6;
@lapis-lazuli: #2660A4;
@rosewood: #690500;
@maastricht-blue: #011627;

// Updated colors:

