
 @desktop: ~"(min-width: 801px)";

@tablet: ~"(min-width: 501px)";

// Colors:

@green-tea: #bcddb3;
@ivory: #f8fff4;
@yellow-ivory: #fcffeb;
@daffodil: #fafac6;
@light-peach: #fecdaa;
@peach: #ff9f58  ;  
@white: #FEFFFE;

// Nav 

@nav-link-font-size-regular: 3rem;
@nav-link-font-size-tablet: 3.2rem;
@nav-link-font-size-desktop: 3.5rem;

// Buttons
@button-color: @button-color-regular;
@button-background: @button-background-regular;
@button-margin: @button-margin-regular;
@button-padding: @button-padding-regular; 
@button-border-radius: @button-border-radius-regular;
@button-font-size: @button-font-size-regular;

@button-color-desktop: @button-color-regular;
@button-background-desktop: @button-background-regular;
@button-margin-desktop: @button-margin-regular;
@button-padding-desktop: @button-padding-regular; 
@button-border-radius-desktop: @button-border-radius-regular;
@button-font-size-desktop: @button-font-size-regular;


// Regular Buttons

@button-color-regular: @ivory;
@button-background-regular: @peach;
@button-margin-regular: 15px;
@button-padding-regular: 5px; 
@button-border-radius-regular: 25px;
@button-font-size-regular: 2rem; 


//Desktop Buttons

@button-color-desktop: @ivory;
@button-background-desktop: @peach;
@button-margin-desktop: 15px;
@button-padding-desktop: 5px; 
@button-border-radius-desktop: 25px;
@button-font-size-desktop: 2rem; 


// Hover

@button-color-hover: @green-tea;
@button-background-hover: @daffodil;

// @button-margin-hover:
// @button-padding-hover: 
// @button-border-radius-hover:
// @button-font-size-hover:


// Fonts

@content-font-size-regular: 1.6rem;
@content-line-height-regular: 1.5;
@content-title-font-size-regular: 3rem;
@team-links-font-size-regular: 2rem;
@team-title-font-size-regular: 2rem;
@team-content-font-size-regular: 1.6rem;

@content-font-size-desktop: 2rem;
@content-line-height-desktop: 1.5;
@content-title-font-size-desktop: 4rem;
@team-links-font-size-desktop: 2.5rem;
@team-title-font-size-desktop: 2.5rem;
@team-content-font-size-desktop: 2.1rem;


// Content

@content-color: @ivory;
@content-background: @peach;



